{% extends 'base.html.twig' %}
{% block title %}{{ pageTitle }}{% endblock %}

{% block body %}  
  <ul>
    {% for categorie in categories %}
      <li>
        {{ categorie.text }}
      </li>
    {% endfor %}
  </ul>
{% endblock %}