{% extends 'base.html.twig' %}

{% block title %}{{ pageTitle }}{% endblock %}

{% block body %}



<main class="container">
  <div class="p-4 p-md-5 mb-4 rounded text-bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 fst-italic">Título de uma postagem de blog em destaque mais longa</h1>
      <p class="lead my-3">Várias linhas de texto que formam o lead, informando novos leitores de forma rápida e eficiente sobre o que há de mais interessante no conteúdo desta postagem.</p>
      <p class="lead mb-0">
        <a href="#" class="text-white fw-bold">Continuar lendo...</a>
      </p>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Mundo</strong>
          <h3 class="mb-0">Postagem em destaque</h3>
          <div class="mb-1 text-muted">12 de novembro</div>
          <p class="card-text mb-auto">Este é um cartão mais amplo com texto de apoio abaixo como uma introdução natural ao conteúdo adicional.</p>
          <a href="#" class="stretched-link">Continuar lendo</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Espaço reservado: Miniatura" preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>Placeholder</title>
              <rect width="100%" height="100%" fill="#55595c"></rect>
                <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
          </svg>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-success">Projeto</strong>
            <h3 class="mb-0">Título da postagem</h3>
            <div class="mb-1 text-muted">11 de novembro</div>
            <p class="mb-auto">Este é um cartão mais amplo com texto de apoio abaixo como uma introdução natural ao conteúdo adicional.</p>
            <a href="#" class="stretched-link">Continuar lendo</a>
          </div>
          <div class="col-auto d-none d-lg-block">
            <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Espaço reservado: Miniatura" preserveAspectRatio="xMidYMid slice" focusable="false">
              <title>Placeholder</title>
              <rect width="100%" height="100%" fill="#55595c"></rect>
              <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
            </svg>
          </div>
        </div>
      </div>
    </div>

    <div class="row g-5">
      <div class="col-md-8">
        <h3 class="pb-4 mb-4 fst-italic border-bottom">Da mangueira de incêndio</h3>

        <article class="blog-post">
          <h2 class="blog-post-title mb-1">Exemplo de postagem de blog</h2>
          <p class="blog-post-meta">1 de janeiro de 2021 por <a href="#">Mark</a></p>

          <p>Este post de blog mostra alguns tipos diferentes de conteúdo que são suportados e estilizados com Bootstrap. Tipografia básica, listas, tabelas, imagens, código e mais são todos suportados como esperado.</p>
          <hr>
          <p>Este é um conteúdo adicional de espaço reservado para parágrafo. Ele foi escrito para preencher o espaço disponível e mostrar como um trecho maior de texto afeta o conteúdo ao redor. Vamos repeti-lo com frequência para manter a demonstração fluindo, então fique atento a essa mesma sequência de texto.</p>
          <h2>Citações em bloco</h2>
          <p>Este é um exemplo de citação em ação:</p>
          <blockquote class="blockquote">
            <p>O texto citado vai aqui.</p>
          </blockquote>
        </article>
      </div>
  </div>
</main>


{% endblock %}